body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #dbeeff; /* bleu light */
}

/* HEADER */
header {
  background-color: #0d3870;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 85px;
  height: 50;
}

/* BOXES */
.boxes {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 40px;
}

.box {
  width: 250px;
  background-color: white;
  border-radius: 15px;
  text-decoration: none;
  color: black;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  overflow: hidden;
  transition: transform 0.3s;
}

.box:hover {
  transform: scale(1.05);
}

.box img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.box p {
  padding: 15px;
  text-align: center;
  font-weight: bold;
}
